# compiled output
/dist
/node_modules

# logs
logs
*.log
npm-debug.log*

# coverage
/coverage

# database files (sqlite)
*.sqlite
*.sqlite3
*.db
data/

# env
.env
.env.local

# IDE
.idea
.vscode/*
!.vscode/extensions.json
*.iml

# OS
.DS_Store
Thumbs.db
